				.active{
		border-color: rgb(86, 95, 169) !important;
		border: 1px solid rgb(86, 95, 169);
	}
	p{text-align: center;}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
ul {
    margin: 0em;
    padding-left: 0px;
    margin-bottom: 1em;
}

	li{
		margin-left: 5px;
		font-size: 25px;
		list-style: none;
	}}